html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inner-container {
  height: 100px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 24pt;
  font-weight: bolder;
  background-color: rgb(196, 126, 66);
}

.clickies {
  background-color: white;
  margin: 10px;
  width: 160px;
  height: 180px;
  border: none;
}
